@charset "UTF-8";
.wrapper { 
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 8s ease infinite;
-z-animation: rainbow 8s ease infinite;
-o-animation: rainbow 8s ease infinite;
  animation: rainbow 8s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
.button {
        border: 1px;
        /* color: #000000; */
        text-align: center;
        font-size: 40px;
		padding: 0px;
		margin: 0px;
}
.chessboard{
        width:468px;
        height:468px;
        margin:10px;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        border:5px solid #fff;
        }
.chessboards111{
        width:468px;
        height:468px;
        margin:10px;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        border:5px solid #fff;
        }
.black{
        float:left;
        width:50px;
        height:50px;
        background-color: #c0c0c0;
        font-size:30px;
        text-align:center;
        display:table-cell;
        vertical-align:middle;
        border:1px solid #c0c0c0}
.white{
        float:left;
        width:50px;
        height:50px;
        background-color:#ffffff;
        font-size:30px;
        text-align:center;
        display:table-cell;
        vertical-align:middle;
        border:1px solid #c0c0c0;
        }
.sub{
        margin-left:auto;
        margin-right:auto;
		margin:1px;
		}

.title{
        margin-left:auto;
        margin-right:auto;
		margin:1px;
		}
h1{
		text-align: center;
    	color: #fff;
		text-align: center;
        margin-left:auto;
        margin-right:auto;
		}

p{
    text-align:center;
	color: #fff;
}


/* .myDiv {
    text-align: center;
    width: 300px;
	color: white;
	border: 1px solid #fff;
} */

.transparent {
	/* Required for IE 5, 6, 7 */
	/* ...or something to trigger hasLayout, like zoom: 1; */
	width: 100%; 
		
	/* Theoretically for IE 8 & 9 (more valid) */	
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	
	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity=50);
	
	/* Older than Firefox 0.9 */
	-moz-opacity:0.5;
	
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.5;
    
	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 0.5;
}