<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
        <!-- Change your page title -->
        <title>Chess Game</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="static/style.css" rel="stylesheet" type="text/css">
    
  </head>
  <body style="background-color:#AA6C3F;">
        <div class="title">
            <h1>SKITTLES CHESS GAME</h1>
        </div>
        <p style="text-align:center">
            <!-- <table>
            {% set a = 0 %}
            {% for row in ui.board %}
            {% set b = a %}
            <tr>
                {% for cell in row %}
                {% if a is divisibleby(2) %}
                <td style="background-color:#AA6C3F">{{ cell }}</td>
                {% else %}
                <td style="background-color:#AA6C3F">{{ cell }}</td>
                {% endif %}
                {% set a = b + 1 %}
                {% endfor %}
            </tr>
            {% endfor %}
            </table> -->
        <div class="chessboard" style="text-align:center">
            {% set v_global = ['1'] %}
            {% for row in ui.board %}
                {% for cell in row %}
                    <!-- {% set b = a %} -->
                    {% if v_global|length is divisibleby(2) %}
                    <div class="white">{{ cell }}</div>
                    {% else %}
                    <div class="black">{{ cell }}</div>
                    {% endif %}
                    {% if v_global.append('1') %}{% endif %}
                {% endfor %}
                {% if v_global.append('1') %}{% endif %}
            {% endfor %}
        </div>
        <!-- <div class="chessboard" style="text-align:center">
            <div class="white"></div>
            <div class="black">&#9822;</div>
            <div class="white">&#9821;</div>
            <div class="black">&#9819;</div>
            <div class="white">&#9818;</div>
            <div class="black">&#9821;</div>
            <div class="white">&#9822;</div>
            <div class="black">&#9820;</div>

            <div class="black">&#9823;</div>
            <div class="white">&#9823;</div>
            <div class="black">&#9823;</div>
            <div class="white">&#9823;</div>
            <div class="black">&#9823;</div>
            <div class="white">&#9823;</div>
            <div class="black">&#9823;</div>
            <div class="white">&#9823;</div>

            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>

            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>

            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>

            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>
            <div class="black"></div>
            <div class="white"></div>

            <div class="white">&#9817;</div>
            <div class="black">&#9817;</div>
            <div class="white">&#9817;</div>
            <div class="black">&#9817;</div>
            <div class="white">&#9817;</div>
            <div class="black">&#9817;</div>
            <div class="white">&#9817;</div>
            <div class="black">&#9817;</div>

            <div class="black">&#9814;</div>
            <div class="white">&#9816;</div>
            <div class="black">&#9815;</div>
            <div class="white">&#9813;</div>
            <div class="black">&#9812;</div>
            <div class="white">&#9815;</div>
            <div class="black">&#9816;</div>
            <div class="white">&#9814;</div>
        </div> -->
    </p>
    <p>
    <form action="/input" method="post">
    <label>{{ game.turn }} player:</label>
    <input type="text" name="player_input" value=""></p>
    <br>
    <input type="submit" value="Move">
    <p>We’ll have some code here to insert error messages, if any. Stay tuned.</p>
  </body>
  <footer>
    <div class="credits">
        <h4>Copyright © Vina, Bryan, David</h4>
</footer>
</html>