<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Change your page title -->
        <title>This is the page title</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <!-- Modify this section START -->
        <p>[Placeholder for chess board]</p>
        <p>Add a form here to get player input. Don't forget the submit button.</p>
        <p>We’ll have some code here to insert error messages, if any. Stay tuned.</p>
        <!-- Modify this section END -->
    </body>
</html>